html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  background-image: url('https://image.shutterstock.com/image-vector/back-school-background-doodle-tic-600w-671642395.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  color:rgb(159,32,172);
}

.backgroud{
    background-color: #386f9470;
}
  h1{
      text-align: center;
      font-size:6em;
      font-weight: 600;
  }
  .message {
    color:rgb(172,32,45);
    font-size: 3em;
    padding-bottom: 1em;
    text-align: center;
  }
  form label{
    font-size: 4em;
    font-weight: bold;
    vertical-align: middle;
  }

  form input [type=radio]{
    margin: 1em;
    cursor: pointer;
  }

  form fieldset{
    display: block;
    opacity: 1;
    transition: all ease 1s; 
    border: 5px solid rgb(159,32,172);
    background-color:#3d9bdb;
    padding-left: 47%;
  }
  form.game-on button {
    opacity: 0;
    display: block;
    margin: 0 auto;
  }
  form.game-on fieldset {
    opacity: 0;
    display: none;
  }  

  
  #grid-section {
    margin: 3em 0;
  }
  
  #game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
  }

 .cell {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 3px rgb(159,32,172);
    border: 5px solid rgb(159,32,172);
    cursor: pointer;
    background-color: #3d9bdb;
    line-height: 100px;
    font-size: 60px;
}
  
  .winner {
    color: rgb(172,32,45);
  }
  
  .btn-primary, 
  .btn-primary:focus {
    background-color: #3a1a18;
    opacity: 0;
    outline: 0;  
    transition: all ease .3s;
  }
  
  .btn-primary:hover {
    background-color: #1e2017;
  }
  